:root {
  --orange: hsl(28, 84%, 61%);
  --pink: hsl(333, 80%, 67%);
  --purple-900: hsl(300, 43%, 22%);
  --purple-300: hsl(303, 10%, 53%);
  --purple-100: hsl(300, 24%, 96%);
  --main-font: "League Spartan", Helvetica, sans-serif;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --line-height-85: 85%;
  --line-height-100: 100%;
  --line-height-130: 130%;
  --line-height-135: 135%;
  --font-size-17: 1.0625rem;
  --font-size-19: 1.1176rem;
  --header-clamp: clamp(2.5rem, 1.546rem + 4.071vw, 3.5rem);
  --letter-spacing--2: -0.125rem;
  --letter-spacing--06: -0.0375rem;
  --letter-spacing--03: -0.01875rem;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --stars-container-mobile-height: 4.875rem;
  --stars-container-border-radius: 0.5rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

body {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

.container {
  margin-inline: var(--spacing-24);
  margin-block: var(--spacing-80);
  & .container__header {
    margin-inline: var(--spacing-16);
    margin-bottom: var(--spacing-16);
    color: var(--purple-900);
    font-size: var(--header-clamp);
    line-height: var(--line-height-85);
    letter-spacing: var(--letter-spacing--2);
    text-align: center;
  }
  & .container__subhead {
    color: var(--purple-300);
    font-size: var(--font-size-19);
    line-height: var(--line-height-135);
    letter-spacing: var(--letter-spacing--06);
    text-align: center;
  }
}

.container__reviews {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  & .container__review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-16);
    height: var(--stars-container-mobile-height);
    background-color: var(--purple-100);
    border-radius: var(--stars-container-border-radius);
    & .container__stars {
      display: flex;
      gap: var(--spacing-8);
    }
    & .container__rating {
      color: var(--purple-900);
      font-size: var(--font-size-17);
      font-weight: var(--bold);
      line-height: var(--line-height-100);
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  & .testimonials__card {
    padding: var(--spacing-32);
    background-color: var(--purple-900);
    color: white;
  }
  & .testimonials__user-info {
    display: grid;
  }
}
